<html>
    <head>
      <title>Upload a new song</title>
    </head>
    <body>
      <a href="../">Back</a>
      {% if success == true %}
        <h1>File uploaded successfully!</h1>
      {% elif success == false %}
        <h1>File failed to upload</h1>
      {% endif %}
      <h1>Upload a new song:</h1>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <p><label for="name">Song name:</label><input type="text" id="name" name="name" /></p>
        <p><label for="song_mp3">.mp3 file:</label><input type="file" id="song_mp3" name="song_mp3" /></p>
        <p><label for="song_lrc">.lrc file:</label><input type="file" id="song_lrc" name="song_lrc" /></p>
        <p><input type="submit" value="Submit" /></p>
      </form>
  </body>
</html>
